<md-content class="md-padding" style="background-image: url('../assets/images/crowd.gif'); background-size: cover">
  <h1 class="md-display-4">Hvem?</h1>

  <section ng-init="ungdom = true; sagene = true;">
    <h1>Er du...</h1>
    <md-checkbox class="md-primary" ng-model="ungdom">Ungdom?</md-checkbox>
    <md-checkbox class="md-primary" ng-model="sagene">Bosatt i / kommer fra Sagene bydel?</md-checkbox>
  </section>

  <section>
    <h1 ng-class="{'not-for-you': !ungdom || !sagene }">Da er du er velkommen til oss på Ung Media!</h1>
  </section>

  <section>
    <p>Dans? Musikk? Tegning? Animasjon? Tekst? Foto? Film? Matlaging? Studioproduksjon? Spill? Lek og morro?</p>
  </section>

  <section>
    <p>Du trenger ikke kunne noe som helst, vi underviser både nybegynnere og eksperter. Det er også lov å prøve seg
      frem selv, eller komme for å være sammen med andre kreative ungdommer. </p>
  </section>

  <section>
    <p>Hos oss kan du være, lære, le og vokse. Tar du med deg selv og din kreativitet, så stiller byens beste ungdom med
      hjerte- og husrom! </p>
  </section>

  <h1 class="md-display-2">Humans of Ung Media</h1>

  <section>
    <img src="../assets/images/yasmin.jpg" alt=""/>

    <h1>Jasmine</h1>

    <p>
      Dette er Jasmine. Hun får en rar grimase i ansiktet når hun ser folk hun er glad i. Når hun blir nervøs
      begynner hun å snakke med disney-dubbestemme. Jasmine liker å spille teater og vil bli forfatter.
    </p>
  </section>

  <section>
    <img src="../assets/images/brage.jpg" alt=""/>

    <h1>Brage</h1>

    <p>
      Dette er Brage. ”Jeg vil vise hele verden kjæresten min, og at han er en fyr, og at det er helt ok!
      Jeg vil lage en låt om å være ung og skeiv i Norge i dag og jeg vil inspirere andre til å være mer åpne.”
    </p>
  </section>

  <section>
    <img src="../assets/images/sofie.jpg" alt=""/>

    <h1>Sofie</h1>

    <p>
      Dette er Sofie. ”På utsiden kan jeg virke ganske stille, men jeg tror de fleste blir overrasket over hvor
      gal jeg egentlig er når de blir kjent med meg. Jeg er egentlig en veldig grei type, altså - haha!”
    </p>
  </section>

  <section>
    <img src="../assets/images/muna.jpg" alt=""/>

    <h1>Muna</h1>

    <p>
      Dette er Muna. "Jeg er opptatt av politikk og menneskerettigheter, jeg bryr meg om andre, jeg er kreativ
      og har masse ambisjoner. Jeg er lei av at folk har masse formeninger om somaliere og tror vi alle skal ende opp på
      NAV - I will prove you wrong!"
    </p>
  </section>

  <section>
    <p>Følg oss på facebook og hils på flere humans of ung media <a href="//facebook.com/ungmedia">her</a>!</p>
  </section>

</md-content>
