/* GENERAL */
html {
  background: url('../assets/images/trommebakgrunn.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: none;
}

p {
  width: 480px;
}

header {
  background: url('../assets/images/logo.png') rgba(255,255,255,0.8);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  width: 200px;
  height: 200px;
  position:fixed;
  top:50%;
  margin-top: -100px;
  left:50%;
  margin-left: -100px;
}

@media (max-width: 599px) {
  html {
    background-repeat: repeat-y;
  }

  header {
    top:0 !important;
    margin-top:0 !important;
    left: 50% !important;
    margin-left: 50px !important;
  }
}

/* SPECIFICS */

/* NAV */
#nav a {
  color: white;
  text-decoration: none;
}

#nav md-grid-tile:nth-child(1) {
  background: rgba(190,155,123, 0.7);
}

#nav md-grid-tile:nth-child(2) {
  background:rgba(155,123,190, 0.7);
}

#nav md-grid-tile:nth-child(3) {
  background:rgba(123,190,155, 0.7);
}

#nav md-grid-tile:nth-child(4) {
  background:rgba(190,155,123, 0.7);
}

/* TRANSITIONS */
#nav md-grid-tile {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#nav md-grid-tile:hover {
  background: rgba(127,127,127, 0.0);
}

#nav md-grid-tile:hover a {
  color:black;
  background: white;
}

