/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

/* GENERAL */
html {
  /*background: url('../assets/images/trommebakgrunn.gif');*/
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cutive Mono', RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

body {
  background: none;
}

#facebook {
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 5px;
}

[ng-view] {
  position: absolute;
  height: 100%;
  top: 0;
  min-width: 280px;
  width: 100%;
}

h1, a, b {
  font-family: 'Fjalla One', RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
}

b span {
  display: none;
}

b:hover span {
  display: block;
  color: black;
  position: absolute;
  background: lightblue;
  padding: 5px;
  border: 5px solid lightblue;
}

md-content {
  overflow: hidden;
}

section {
  max-width: 480px;
}

header {
  background-image: url('../assets/images/um-logo-web.svg');
  background-color: white;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;

  z-index: 2;

  width: 200px;
  min-width: 200px;
  height: 200px;
  border-radius: 100px;

  position:fixed;
  top:50%;
  margin-top: -100px;
  left:50%;
  margin-left: -100px;
}

/* SPECIFICS */

/* CONTENT */
md-content {
  z-index: 3;
  background-attachment: fixed;
  background-position: 600px;
  background-repeat: no-repeat;
  border: 20px solid rgba(255, 255, 255, 0);
}

md-content section {
  margin-bottom: 30px;
}

md-content section span {
  background: lightblue;
}

/*md-content span, section {*/
/*  background: white;*/
/*  margin-left: -20px;*/
/*  border-left: 20px solid white;*/
/*}*/

md-content img {
  width: 185px;
  margin-bottom: -20px;
}

md-content p {
  margin-top: -15px;
  margin-bottom: 30px;
}

section .md-button {
  display: block;
  margin-top: -20px;
  margin-left: 0 !important;
  margin-bottom: 40px;
  overflow: hidden;
  font-weight: bold;
}

section .not-for-you {
  opacity: 0.2;
  text-decoration: line-through;
}

/* NAV */
#nav a {
  color: black;
  background: white;
  text-decoration: none;
}

#nav md-grid-tile:nth-child(1) {
  background: rgba(255, 255, 255, 1);
  border-left: 20px solid white;
  border-top: 20px solid white;
}

#nav md-grid-tile:nth-child(2) {
  background: rgba(255, 255, 255, 1);
  border-right: 20px solid white;
  border-top: 20px solid white;
}

#nav md-grid-tile:nth-child(3) {
  background: rgba(255, 255, 255, 1);
  border-left: 20px solid white;
  border-bottom: 20px solid white;
}

#nav md-grid-tile:nth-child(4) {
  background: rgba(255, 255, 255, 1);
  border-right: 20px solid white;
  border-bottom: 20px solid white;
}

#nav md-grid-tile div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#nav md-grid-tile:nth-child(1) div {
  background-image: url('../assets/images/crowd.gif');
}

#nav md-grid-tile:nth-child(2) div {
  background-image: url('../assets/images/trommebakgrunn.gif');
}

#nav md-grid-tile:nth-child(3) div {
  background-image: url('../assets/images/trikkestallen.gif');
}

#nav md-grid-tile:nth-child(4) div {
  background-image: url('../assets/images/parken.gif');
}

/* TRANSITIONS */

header {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

[ng-view] {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

[ng-view].ng-enter {
  opacity: 1;
}

[ng-view].ng-leave {
  opacity: 0;
}

#nav md-grid-tile {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  border: 10px solid white;
}

header:hover {
  background-size: 170px;
}

#nav md-grid-tile:hover {
  background: rgba(127,127,127, 0.0);
}

#nav md-grid-tile:hover a {
  color:black;
  background: white;
}

/* MOBILE */

@media (max-width: 599px) {
  html {
    background-repeat: repeat-y;
  }

  [ng-view] {
    height: calc(100% - 200px) !important;
  }

  header {
    top: 0 !important;
    margin-top: 0 !important;
    left: 0 !important;
    margin-left: 0px !important;
    width: 100%;
    border-radius: 0px;
  }

  md-content {
    padding-right: 0 !important;
    overflow-x: hidden;
    background: white !important;
  }

  .spacer {
    height: 200px;
  }

  #nav md-grid-tile {
    border: 20px solid white !important;
  }

  #nav md-grid-tile:nth-child(1) {
    border-top: 0 solid white !important;
  }
}
